<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Yelp 商户推荐系统 首页</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="//cdn.bootcss.com/flat-ui/2.3.0/css/flat-ui.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-default .navbar-fixed-top" style="margin:0;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Yelp 商户推荐系统</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">首页</a></li>
        <li><a href="/search">搜索</a></li>
        <li><a href="/user">随机访问</a></li>
        <li><a href="#">关于我们</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="jumbotron">
  <h1 class="col-lg-offset-1">Yelp商户推荐系统</h1>
  <p class="col-lg-offset-1">一个更懂你的推荐系统</p>
    <div class="btn-group btn-group-lg col-lg-offset-1" role="group" aria-label="...">
      <button type="button" onclick="javascript:window.location.href='search' " class="btn btn-success">搜索用户</button>
      <button type="button" onclick="javascript:window.location.href='user' " class="btn btn-success">随机访问</button>
    </div>
</div>
</body>
</html>