<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Yelp 商户推荐系统 用户 No.{{uid}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="//cdn.bootcss.com/flat-ui/2.3.0/css/flat-ui.min.css" rel="stylesheet">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//cdn.bootcss.com/jquery.pin/1.0.1/jquery.pin.min.js"></script>
	<script src="//cdn.bootcss.com/masonry/4.1.1/masonry.pkgd.min.js"></script>
	<style type="text/css">
		h5{font-size: 22px;
			margin:0 0 10px 0;}
	</style>
</head>
<body>
<nav class="navbar navbar-default .navbar-fixed-top" style="margin:0;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Yelp 商户推荐系统</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">首页</a></li>
        <li><a href="/search">搜索</a></li>
        <li><a href="/user">随机访问</a></li>
        <li><a href="#">关于我们</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<script>
	$('.grid').masonry({
	  // options...
	  itemSelector: '.grid-item',
	  columnWidth: 200
	});
</script>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-lg-12">
			<div id="main-part" class="row-fluid" style="margin:20px 0px;">
				<div id="left-col" class="col-lg-3" style="padding: 40px 20px; background: aliceblue;">
					<img alt="140x140" src="{{static_url('img/headphoto.jpg')}}" class="img-rounded img-responsive center-block" />
					<h3 class="text-left">
						{{user['name']}} <small>#{{uid}}</small>
					</h3>
					<p>
						这个家伙很懒，他什么也没说。
					</p>
					<ul>
						<li>
							平均评分{{user['average_stars']}}
						</li>
						<li>
							注册自 {{user['yelping_since']}}
						</li>
					</ul>
					<ul>
						<li>
							社交关系
						</li>
						<ul class="unstyled">
							<li>
								{{len(user['friends'])}}个好友
							</li>
							<li>
								{{user['fans']}}个粉丝
							</li>
						</ul>
						<li>
							评论记录
						</li>
						<ul class="unstyled">
							<li>
								{{user['review_count']}}个评论
							</li>
						</ul>
						<li>
							评论投票
						</li>
						<ul class="unstyled">
							<li>
								{{user['cool']}}个Cool
							</li>
							<li>
								{{user['useful']}}个Userful
							</li>
							<li>
								{{user['funny']}}个Funny
							</li>
						</ul>
					</ul>
				</div>
				<div class="col-lg-6" style="padding: 0 10px;">
					<h3 style="margin:10px;padding:0px 0px;font-size:27px;">猜你喜欢</h3>
					<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 290 }'>
					  {% for rec in recs%}
						<div class="thumbnail grid-item" style="width: 280px">
							<div class="caption">
								<h5>
									{{rec['name']}}
								</h5>
								<div>
									猜你给{{rec['rec_stars']}}分，
								</div>
								{%if rec[u'categories'] is not None%}
								<div>
									属于
									{%for cat in rec['categories']%}
										{{cat}},
									{%end%}

								</div>
								{%end%}
								<p>
									位于 {{rec['city']}} 城 {{rec['state']}} 洲，
								</p>
								<p>
									{{rec['address']}}
								</p>
								{%if rec[u'neighborhood']!=""%}
								<p>
									邻近{{rec[u'neighborhood']}}
								</p>
								{%end%}
								<p>
									被评论{{rec['review_count']}}次
								</p>
								<p>
									平均得分{{rec['stars']}}分
								</p>
								<p style="display: none;">
									<a class="btn btn-primary" href="#">更多</a> <a class="btn" href="#">分享</a>
								</p>
							</div>
						</div>
						{% end %}
					</div>
					<ul class="thumbnails" style="list-style: none;padding:0px; display: none;">
						{% for rec in recs%}
						<li class="col-lg-6">
							<div class="thumbnail">
								<div class="caption">
									<h5>
										{{rec['name']}}
									</h5>
									<div>
										猜你给{{rec['stars']}}分，
									</div>
									{%if rec[u'categories'] is not None%}
									<div>
										属于
										{%for cat in rec['categories']%}
											{{cat}},
										{%end%}

									</div>
									{%end%}
									<p>
										位于 {{rec['city']}} 城 {{rec['state']}} 洲，
									</p>
									<p>
										{{rec['address']}}
									</p>
									<p>
										被评论{{rec['review_count']}}次
									</p>
									<p>
										平均得分{{rec['stars']}}分
									</p>
									<p style="display: none;">
										<a class="btn btn-primary" href="#">更多</a> <a class="btn" href="#">分享</a>
									</p>
								</div>
							</div>
						</li>
						{% end %}
					</ul>
				</div>
                <div class="col-lg-3">
					<h3 style="margin:10px;padding:0px 0px;font-size:24px;">你的历史评分<small>评分由高到低</small></h3>
					<ul class="thumbnails" style="list-style: none;padding:0px;">
						{% for rec in hists%}
						<li class="col-lg-12" style="padding: 15px;background: ghostwhite;">
							<div class="thumbnail">
								<div class="caption">
									<h5>
										{{rec['business']['name']}}
									</h5>
									<div>
										你给了{{rec['stars']}}分，
									</div>
									<div>
										属于
										{%for cat in rec['business']['categories']%}
											{{cat}},
										{%end%}

									</div>
									<p>
										位于 {{rec['business']['city']}} 城 {{rec['business']['state']}} 洲，
									</p>
									<p>
										{{rec['business']['address']}}
									</p>
									<p>
										被评论{{rec['business']['review_count']}}次
									</p>
									<p>
										平均得分{{rec['business']['stars']}}分
									</p>
									<p style="display: none;">
										<a class="btn btn-primary" href="#">更多</a> <a class="btn" href="#">分享</a>
									</p>
								</div>
							</div>
						</li>
						{% end %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>